#welcome-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    height: 100vh;
    overflow: auto;
    background-color: burlywood;
}

body {
    display: flex;
    flex-direction: column;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: right;

}
.navbar > a{
    padding: 10px;
}

#project {
    display: flex;
    justify-content: center;
    align-items: center;
}

#project a {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}